.choose-elder-popup {
    background-color: #FFFFFF;
    border-radius: 4px;
    padding: 10px;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 1;
    width: 250px;
}